.app {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 100%;
}

.app {
  display: grid;
  grid-template-columns: 10vw, 25vw, 30vw, 25vw, 10vw;
  grid-template-rows: repeat(6, 16.7vh);
  grid-template-areas:
    '. header . . .'
    '. zip . . .'
    '. feel feel feel .'
    '. feel feel feel .'
    '. main main . .'
    '. . . . .';

  background: #10275a;
  color: #f0d43a;

  font-family: 'Oswald', sans-serif;
}

.headline {
  grid-area: header;
  font-size: 150%;
}

.zip {
  grid-area: zip;
}

.feel {
  grid-area: feel;
  display: flex;
  flex-direction: column;
}

.zipcountry {
  display: flex;
  flex-direction: column;
  height: 2vh;
  width: 15vw;
}

.entry {
  grid-area: main;
  background: rgba(59, 74, 107, 0.4);
}

.entryHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5vw;
}
/*
#zip {
  width: auto;
}

#country {
  width: auto;
}
*/
#date {
}

#temp {
}

#content {
}

.headline {
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  /*  display: block;*/
}

input {
  /*  display: block;*/
  background: #22b2da;
  color: #f0d43a;

  font-family: 'Oswald', sans-serif;
  border: none;
}

button {
  width: 10vw;
  height: 5vh;
  background: #3b4a6b;
  color: #f0d43a;

  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
}

textarea {
  background: #22b2da;
  color: #f0d43a;

  font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: 'Oswald', sans-serif;
}
